@model List<ContactListForUI>

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <span>Contact</span>
            <h2>Contact</h2>
        </div>

        <div class="row">

            <div class="d-flex align-items-stretch">
                <div class="info">
                    @foreach (var item in Model)
                    {
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>@item.Location</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>@item.Email</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>@item.Call</p>
                        </div>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9935.369997407839!2d-0.1450403171713541!3d51.49775769897589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604ddae95b455%3A0xcd1d64863bc57f40!2sWestminster%2C%20Londra!5e0!3m2!1str!2suk!4v1699705680086!5m2!1str!2suk" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    }

                </div>

            </div>

        </div>

    </div>

</section>

<!-- End Contact Section -->